@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;800&display=swap');
*{
   box-sizing: border-box;
   margin:0;
   padding: 0;
}
body{
    background-color: #fdfffc;
}
header{
    width:100%;
    padding: 42px 75px 40px 60px;
}
.header-wrap{
    
}
.header-wrap ul{
    text-decoration: none;
    display:table;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
}
li{
    list-style-type: none;
    display: table-cell;
    text-align: center;
}
a{
    text-decoration: none;
    color:#333333;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
   letter-spacing: 0.05em;
   text-align: center;
   margin-left: 3em;
   position:relative;
  
}
a::after{
    position: absolute;
    content:"";
    width: 100%;
    height: 1px;
    bottom:4px;
    left:0;
    background-color:rgba(51,51,51,0);
    transition: all 0.2s ease;

}
.main{
    height: calc(90vh - 106px);
   position:relative;
   display: flex;
   align-items: center;
    
}
.hero p{
    font-family: sans-serif;
    text-transform:uppercase;
    font-size: 12px;
    font-weight:600;
    margin:12px 0 12px 50px;
    color:#333333
}
.hero h1{
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-weight: 700;
    margin-left: 50px;
    color: rgb(61, 61, 61);
    transform: all 0.5s ease;
    position:absolute;
    

}

.row{
    display:flex;
    flex-wrap: wrap;
    padding: 0 50px;
    
   
}

.column{
    flex:33%;
    max-width:33%;
    padding: 0 10px;

}
.column img {
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
    transition: 0.5s ease;
  }

  .column img:hover{
      opacity: 0.5;
   
  }
  a:hover{
      color:#686868;

  }
  a:hover:after{
      background-color: rgba(51,51,51,1);
      bottom:-2px;
  } 
  footer{
      display:flex;
      margin:20px auto 10 auto;
      height:170px;
      position:relative;
  }
  footer p{
   margin-bottom: 35px;
   margin-top: auto;
   margin-right:auto;
   margin-left:auto;
   COLOR:#7d7e7d;
   font-family: sans-serif;
   font-weight: 600;
   font-size: 10.5px;}
  
   @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}


